@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 300px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    margin-inline: auto;
}

main {
    background: #0cebeb;
    background: linear-gradient(90deg, #d5f2ff, #d8e7ff, #dbdeff);
}

.title {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #00faff45;
    margin-bottom: 5px;
    background: radial-gradient(circle at 50% 0%, rgb(213, 242, 255), rgb(216, 231, 255), rgb(219, 222, 255)) border-box;
}

.checkbox-list {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &:hover {
        cursor: pointer;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

.input-link {
    width: 100%;
    padding: 5px 15px;
    border-radius: 10px;
    border: 0;
    background-color: #eaf1fb;
    font: 13px/27px Roboto, Arial, sans-serif;
    font-weight: 600;
}

.link-text {
    width: 215px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
    margin-top: 10px;

    &:hover {
        .remove-link {
            transform: scale(1);
        }
    }
}

.remove-link {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #000;
    user-select: none;
    font-size: 20px;
    transform: scale(0);
    transition: all .1s ease-in-out;

    &:hover {
        cursor: pointer;
        color: #fff;
        background-color: rgb(102, 102, 102);
    }
}

.f-icon {
    margin-right: 5px;
}

footer {
    text-align: center;
}

.error-text-block {
    border-radius: 4px;
    background-color: #ff000045;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
}

/*setting popup*/
.control-wrapper {
    display: flex;
    padding: 10px;
}

.content-wrapper {
    padding: 10px;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.settings-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.substrate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsl(0deg 0% 0% / 50%);
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    width: 100%;
}

.settings-popup {
    margin-left: auto;

    &:hover {
        cursor: pointer;
    }
}

.popup-footer {
    display: flex;
    margin-top: 15px;
}

.close-popup {
    margin-left: auto;
    padding: 5px 10px;
    border: 0;
    background-color: #275efe;
    color: #fff;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }
}

h4 {
    margin: 0;
}

/*checkbox*/

@supports (-webkit-appearance: none) or (-moz-appearance: none) {

    input[type='checkbox'],
    input[type='radio'] {
        --active: #275efe;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #bbc1e1;
        --border-hover: #275efe;
        --background: #fff;
        --disabled: #f6f8ff;
        --disabled-inner: #e1e6f9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }

    input[type='checkbox']:after,
    input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }

    input[type='checkbox']:checked,
    input[type='radio']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }

    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }

    input[type='checkbox']:disabled:checked,
    input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }

    input[type='checkbox']:disabled+label,
    input[type='radio']:disabled+label {
        cursor: not-allowed;
    }

    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }

    input[type='checkbox']:focus,
    input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }

    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
        width: 21px;
    }

    input[type='checkbox']:not(.switch):after,
    input[type='radio']:not(.switch):after {
        opacity: var(--o, 0);
    }

    input[type='checkbox']:not(.switch):checked,
    input[type='radio']:not(.switch):checked {
        --o: 1;
    }

    input[type='checkbox']+label,
    input[type='radio']+label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type='checkbox']:not(.switch) {
        border-radius: 7px;
    }

    input[type='checkbox']:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
    }

    input[type='checkbox']:not(.switch):checked {
        --r: 43deg;
    }

    input[type='checkbox'].switch {
        width: 38px;
        border-radius: 11px;
    }

    input[type='checkbox'].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
    }

    input[type='checkbox'].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }

    input[type='checkbox'].switch:disabled:not(:checked):after {
        opacity: 0.6;
    }

    input[type='radio'] {
        border-radius: 50%;
    }

    input[type='radio']:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
    }

    input[type='radio']:checked {
        --s: 0.5;
    }
}